# --- Build Output ---
target/
bin/
out/
build/
*.class
*.war

# --- VS Code & IDEs ---
.vscode/
.settings/
.project
.classpath
.idea/
*.iml
.nb-vars

.DS_Store
.AppleDouble
.LSOverride

# --- Database & Logs ---
*.db
*.log