<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee 
                             https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">

    <display-name>BookNookWebApp</display-name>

    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>servlets.HomeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>servlets.RegisterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>

    <servlet><servlet-name>SearchServlet</servlet-name><servlet-class>servlets.SearchServlet</servlet-class></servlet>
    <servlet-mapping><servlet-name>SearchServlet</servlet-name><url-pattern>/search</url-pattern></servlet-mapping>

    <servlet><servlet-name>AddToCartServlet</servlet-name><servlet-class>servlets.AddToCartServlet</servlet-class></servlet>
    <servlet-mapping><servlet-name>AddToCartServlet</servlet-name><url-pattern>/addToCart</url-pattern></servlet-mapping>

    <servlet><servlet-name>RemoveFromCartServlet</servlet-name><servlet-class>servlets.RemoveFromCartServlet</servlet-class></servlet>
    <servlet-mapping><servlet-name>RemoveFromCartServlet</servlet-name><url-pattern>/removeFromCart</url-pattern></servlet-mapping>

    <servlet><servlet-name>CheckoutServlet</servlet-name><servlet-class>servlets.CheckoutServlet</servlet-class></servlet>
    <servlet-mapping><servlet-name>CheckoutServlet</servlet-name><url-pattern>/checkout</url-pattern></servlet-mapping>

    <servlet><servlet-name>AdminBookServlet</servlet-name><servlet-class>servlets.AdminBookServlet</servlet-class></servlet>
    <servlet-mapping><servlet-name>AdminBookServlet</servlet-name><url-pattern>/adminBook</url-pattern></servlet-mapping>

    <servlet><servlet-name>AdminUserServlet</servlet-name><servlet-class>servlets.AdminUserServlet</servlet-class></servlet>
    <servlet-mapping><servlet-name>AdminUserServlet</servlet-name><url-pattern>/adminUser</url-pattern></servlet-mapping>

    <servlet><servlet-name>OrderHistoryServlet</servlet-name><servlet-class>servlets.OrderHistoryServlet</servlet-class></servlet>
    <servlet-mapping><servlet-name>OrderHistoryServlet</servlet-name><url-pattern>/orderHistory</url-pattern></servlet-mapping>

    <servlet><servlet-name>OrderDetailsServlet</servlet-name><servlet-class>servlets.OrderDetailsServlet</servlet-class></servlet>
    <servlet-mapping><servlet-name>OrderDetailsServlet</servlet-name><url-pattern>/orderDetails</url-pattern></servlet-mapping>

    <servlet><servlet-name>ProfileServlet</servlet-name><servlet-class>servlets.ProfileServlet</servlet-class></servlet>
    <servlet-mapping><servlet-name>ProfileServlet</servlet-name><url-pattern>/profile</url-pattern></servlet-mapping>

    <servlet><servlet-name>BookFormServlet</servlet-name><servlet-class>servlets.BookFormServlet</servlet-class></servlet>
    <servlet-mapping><servlet-name>BookFormServlet</servlet-name><url-pattern>/bookForm</url-pattern></servlet-mapping>

    <servlet><servlet-name>LogoutServlet</servlet-name><servlet-class>servlets.LogoutServlet</servlet-class></servlet>
    <servlet-mapping><servlet-name>LogoutServlet</servlet-name><url-pattern>/logout</url-pattern></servlet-mapping>

</web-app>